.mainComponent-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.mainComponent-imageAndText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.mainComponent-image {
  margin: auto;
}

.mainComponent-text {
  font-family: "Turret Road", cursive;
  font-size: 1.4rem;
  white-space: pre-line;
  margin: 3vw;
}

.mainComponent-buttons {
  margin: 3vh auto;
}

.mainComponent-rightBtn {
  margin: 0 3vw;
  cursor: pointer;
}

.mainComponent-leftBtn {
  margin: 0 3vw;
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .mainComponent-imageAndText {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 512px) {
  .mainComponent-image {
    width: 100%;
  }
}
