.mainComponent-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: mainComponent-load 400ms ease-in 200ms;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}

.mainComponent-imageAndText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--tertiaryColor);
  position: relative;
  width: -webkit-fill-available;
  width: -moz-available;
}

.mainComponent-menuBtn {
  --x-width: calc(var(--menuBtn-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--menuBtn-gap);
  width: max-content;
  position: absolute;
  top: var(--menuBtn-margin);
  right: var(--menuBtn-margin);
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s;
}

.mainComponent-menuBtn:hover {
  opacity: 1;
  transition: 0.5s;
}

.mainComponent-menuBtn:has(input:focus-visible)::before,
.mainComponent-menuBtn:has(input:focus-visible)::after {
  box-shadow: 0 0 0 1px var(--secondaryColor);
}

.mainComponent-menuBtn::before,
.mainComponent-menuBtn::after,
.mainComponent-menuBtn input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--secondaryColor);
  transform-origin: right center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.mainComponent-menuBtn input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.mainComponent-menuBtn:has(input:checked)::before {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.mainComponent-menuBtn:has(input:checked)::after {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.mainComponent-menuBtn input:checked {
  opacity: 0;
  width: 0;
}

.mainComponent-image {
  margin: auto;
}

.mainComponent-text {
  border-top: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
  font-family: "Turret Road", cursive;
  font-size: 1.4rem;
  white-space: pre-line;
  margin: 3vw;
  padding: 3vw;
}

.mainComponent-options {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-right: 5px solid var(--tertiaryColor);
  border-left: 5px solid var(--tertiaryColor);
  border-bottom: 5px solid var(--tertiaryColor);
}

.mainComponent-additionalImage {
  border-right: 1px solid var(--tertiaryColor);
  border-left: 1px solid var(--tertiaryColor);
  border-bottom: 1px solid var(--tertiaryColor);
  height: 250px;
  width: 250px;
}

.mainComponent-thankYouMessage {
  text-align: center;
  color: var(--secondaryColor);
}

.mainComponent-link {
  color: var(--tertiaryColor);
  background-color: var(--secondaryBackground);
  font-size: 1.5rem;
  padding: 1vh 2vw;
  text-decoration: none;
  border: 1px solid var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-link:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

.mainComponent-creditsLink {
  color: var(--tertiaryColor);
  background-color: var(--secondaryBackground);
  font-size: 1.5rem;
  margin-top: 2vh;
  padding: 1vh 2vw;
  text-decoration: none;
  border: 1px solid var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-creditsLink:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

.mainComponent-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mainComponent-rightBtn {
  box-sizing: inherit;
  background-color: var(--secondaryBackground);
  font-family: "Turret Road", cursive;
  font-size: 1.25rem;
  width: 250px;
  margin: 2vw;
  padding: 2vh 1vw;
  cursor: pointer;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--tertiaryColor);
  color: var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-rightBtn:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

.mainComponent-rightBtn:active {
  transform: scale(0.9);
}

.mainComponent-leftBtn {
  box-sizing: inherit;
  background-color: var(--secondaryBackground);
  font-family: "Turret Road", cursive;
  font-size: 1.25rem;
  width: 250px;
  margin: 2vw;
  padding: 2vh 1vw;
  cursor: pointer;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--tertiaryColor);
  color: var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-leftBtn:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

.mainComponent-leftBtn:active {
  transform: scale(0.9);
}

#portal {
  position: absolute;
  top: 95.5%;
  right: 0.5rem;
  width: 10px;
  height: 10px;
  background-color: black;
  transform: rotate(45deg);
  border: 1px solid gold;
  cursor: auto;
  opacity: 0.5;
}

#portal:hover {
  scale: 1.1;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .mainComponent-imageAndText {
    flex-wrap: wrap;
  }

  .mainComponent-buttons {
    margin: 1vh 0;
  }
}

@media screen and (max-width: 512px) {
  .mainComponent-image {
    width: 100%;
  }
}

@keyframes mainComponent-load {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
