.mainComponent-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  animation: mainComponent-load 400ms ease-in 200ms;
  animation-fill-mode: forwards;
  transform: translateY(-10px);
  opacity: 0;
}

.mainComponent-imageAndText {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--tertiaryColor);
  position: relative;
}

.mainComponent-image {
  margin: auto;
}

.mainComponent-text {
  border-top: 1px solid var(--secondaryColor);
  border-bottom: 1px solid var(--secondaryColor);
  font-family: "Turret Road", cursive;
  font-size: 1.4rem;
  white-space: pre-line;
  margin: 3vw;
  padding: 3vw;
}

.mainComponent-options {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
  border-right: 5px solid var(--tertiaryColor);
  border-left: 5px solid var(--tertiaryColor);
  border-bottom: 5px solid var(--tertiaryColor);
}

.mainComponent-additionalImage {
  border-right: 1px solid var(--tertiaryColor);
  border-left: 1px solid var(--tertiaryColor);
  border-bottom: 1px solid var(--tertiaryColor);
  height: 250px;
  width: 250px;
}

.mainComponent-creditsLink {
  color: var(--tertiaryColor);
  background-color: var(--secondaryBackground);
  font-size: 1.5rem;
  margin-top: 1.5vh;
  padding: 1vh 2vw;
  text-decoration: none;
  border: 1px solid var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-creditsLink:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

.mainComponent-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.mainComponent-rightBtn {
  background-color: var(--secondaryBackground);
  font-family: "Turret Road", cursive;
  font-size: 1.25rem;
  width: 250px;
  margin: 2vw;
  padding: 2vh 1vw;
  cursor: pointer;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--tertiaryColor);
  color: var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-rightBtn:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

.mainComponent-leftBtn {
  background-color: var(--secondaryBackground);
  font-family: "Turret Road", cursive;
  font-size: 1.25rem;
  width: 250px;
  margin: 2vw;
  padding: 2vh 1vw;
  cursor: pointer;
  white-space: pre-line;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--tertiaryColor);
  color: var(--tertiaryColor);
  transition: 0.5s;
}

.mainComponent-leftBtn:hover {
  border: 1px solid var(--secondaryColor);
  color: var(--secondaryColor);
  transition: 0.5s;
}

#portal {
  position: absolute;
  top: 96.5%;
  right: 0.5rem;
  width: 10px;
  height: 10px;
  background-color: black;
  transform: rotate(45deg);
  border: 1px solid gold;
  cursor: auto;
  opacity: 0.5;
}

#portal:hover {
  scale: 1.1;
  opacity: 1;
}

@media screen and (max-width: 992px) {
  .mainComponent-imageAndText {
    flex-wrap: wrap;
  }

  .mainComponent-buttons {
    margin: 1vh 0;
  }
}

@media screen and (max-width: 512px) {
  .mainComponent-image {
    width: 100%;
  }
}

@keyframes mainComponent-load {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
