.startScreen-container {
  font-family: "Orbitron", sans-serif;
  background: var(--primaryBackground);
  color: var(--primaryColor);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.startScreen-title {
  font-size: 2.5rem;
  text-shadow: 2px 2px var(--secondaryColor);
  margin: 0;
}

.startScreen-menu {
  display: flex;
  flex-flow: column nowrap;
  margin: 2rem;
}

.startScreen-btn {
  font-size: 1.5rem;
  color: var(--primaryColor);
  border: 1px solid var(--primaryColor);
  text-decoration: none;
  padding: 0.5rem 2.5rem;
  margin: 1rem;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.startScreen-btn:hover {
  color: var(--secondaryColor);
  box-shadow: inset 200px 0 0 0 var(--tertiaryColor);
}

@media screen and (max-width: 200px), screen and (max-height: 200px) {
  .startScreen-container {
    height: auto;
  }
}
