.aboutScreen-container {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1rem;
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(52, 58, 64, 1) 50%,
    rgba(73, 80, 87, 1) 100%
  );
  color: #dee2e6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.aboutScreen-linksContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  margin: 5vh auto;
  padding: 2vh 0;
  border: 1px solid #dee2e6;
}

.aboutScreen-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: #dee2e6;
  margin: 2vh 1vw;
  transition: 0.5s;
}

.aboutScreen-link:hover {
  text-decoration: underline;
  opacity: 0.7;
  transition: 0.5s;
}
