.aboutScreen-container {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.1rem;
  color: var(--primaryColor);
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin-top: 5vh;
  animation: aboutScreen-load 400ms ease-in 200ms;
  animation-fill-mode: forwards;
  transform: translateY(-50px);
  opacity: 0;
}

.aboutScreen-title {
  text-shadow: 2px 2px var(--secondaryColor);
}

.aboutScreen-linksContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  margin: 5vh auto;
  padding: 2vh 0;
  border: 1px solid var(--primaryColor);
}

.aboutScreen-link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primaryColor);
  margin: 2vh 3vw;
  transition: 0.5s;
}

.aboutScreen-link:hover {
  text-decoration: underline;
  color: var(--tertiaryColor);
  transition: 0.5s;
}

@keyframes aboutScreen-load {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
