.header-container {
  margin-top: 1px;
  padding: 10px;
  background-color: var(--secondaryBackground);
  text-align: center;
  width: -webkit-fill-available;
}

.header-link {
  color: var(--primaryColor);
  text-decoration: none;
}

.header-link:hover {
  color: var(--secondaryColor);
}
