.gameScreen-container {
  font-family: "Orbitron", sans-serif;
  background: var(--primaryBackground);
  color: var(--primaryColor);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

/* Temp area below */

.gameScreen-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--primaryColor);
  transition: 0.5s;
}

.gameScreen-link:hover {
  color: var(--tertiaryColor);
  transition: 0.5s;
}

/* Temp area above */

@media screen and (max-width: 200px), screen and (max-height: 200px) {
  .startScreen-container {
    height: auto;
  }
}
