.gameScreen-container {
  font-family: "Orbitron", sans-serif;
  background: linear-gradient(
    0deg,
    rgba(33, 37, 41, 1) 0%,
    rgba(52, 58, 64, 1) 50%,
    rgba(73, 80, 87, 1) 100%
  );
  color: #dee2e6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

/* Temp area below */

.gameScreen-link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #dee2e6;
  transition: 0.5s;
}

.gameScreen-link:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* Temp area above */

@media screen and (max-width: 200px), screen and (max-height: 200px) {
  .startScreen-container {
    height: auto;
  }
}
