@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;700&display=swap");

:root {
  --primaryBackground: #343a40;
  --secondaryBackground: #212529;
  --primaryColor: #dee2e6;
  --secondaryColor: #f72585;
  --tertiaryColor: #4cc9f0;
}

body {
  background: var(--primaryBackground);
  margin: 0;
  scroll-behavior: smooth;
}
